# Sakila Queries Core Assignment
- Christina Reeder
- 22 Feb 2023

In [2]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

## Connect to MySQL Server

In [1]:
username = "dcbailo89"
password = "starwars77"
db_name = "sakila-data"
host_name = "192.168.1.6"
connection = f"mysql+pymysql://{username}:{password}@{host_name}/{db_name}"

In [3]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://dcbailo89:***@192.168.1.6/sakila-data)

## Execute Queries

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [ ]:
5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.